# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# End of https://www.gitignore.io/api/python

# tags
tag*
tag.*

# vim sessions
.session.vim

# Created by https://www.gitignore.io/api/android,androidstudio
# Edit at https://www.gitignore.io/?templates=android,androidstudio

### Android ###
# Built application files
*.apk
*.ap_
*.aab

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Generated files
app/app/bin/
app/app/gen/
app/app/out/
app/app/release/

# Gradle files
app/app/.gradle/
app/app/build/

# Local configuration file (sdk path, etc)
local.properties

# Proguard folder generated by Eclipse
app/app/proguard/

# Log Files
*.log

# Android Studio Navigation editor temp files
app/app/.navigation/

# Android Studio captures folder
app/app/captures/

# IntelliJ
*.iml
app/.idea/workspace.xml
app/.idea/tasks.xml
app/.idea/gradle.xml
app/.idea/assetWizardSettings.xml
app/.idea/dictionaries
app/.idea/libraries
# Android Studio 3 in .gitignore file.
app/.idea/caches
app/.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
app/.idea/navEditor.xml

# Keystore files
# Uncomment the following lines if you do not want to check your keystore files in.
#*.jks
#*.keystore

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Google Services (e.g. APIs or Firebase)
# google-services.json

# Freeline
freeline.py
app/freeline/
freeline_project_description.json

# fastlane
app/fastlane/report.xml
app/fastlane/Preview.html
app/fastlane/screenshots
app/fastlane/test_output
app/fastlane/readme.md

# Version control
vcs.xml

# lint
app/lint/intermediates/
app/lint/generated/
app/lint/outputs/
app/lint/tmp/
# lint/reports/

### Android Patch ###
gen-external-apklibs
output.json

### AndroidStudio ###
# Covers files to be ignored for android development using Android Studio.

# Built application files

# Files for the ART/Dalvik VM

# Java class files

# Generated files

# Gradle files
.gradle

# Signing files
app/.signing/

# Local configuration file (sdk path, etc)

# Proguard folder generated by Eclipse

# Log Files

# Android Studio
app/*/build/
app/*/local.properties
app/*/out
app/*/*/build
app/*/*/production
*.ipr
*~
*.swp

# Android Patch

# External native build folder generated in Android Studio 2.2 and later

# NDK
app/obj/

# IntelliJ IDEA
*.iws
app/out/

# User-specific configurations
app/.idea/caches/
app/.idea/libraries/
app/.idea/shelf/
app/.idea/.name
app/.idea/compiler.xml
app/.idea/copyright/profiles_settings.xml
app/.idea/encodings.xml
app/.idea/misc.xml
app/.idea/scopes/scope_settings.xml
app/.idea/vcs.xml
app/.idea/jsLibraryMappings.xml
app/.idea/datasources.xml
app/.idea/dataSources.ids
app/.idea/sqlDataSources.xml
app/.idea/dynamic.xml
app/.idea/uiDesigner.xml

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Legacy Eclipse project files
.classpath
.project
.cproject
app/.settings/

# Mobile Tools for Java (J2ME)
app/.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs (Reference: http://www.java.com/en/download/help/error_hotspot.xml)
hs_err_pid*

## Plugin-specific files:

# mpeltonen/sbt-idea plugin
app/.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Mongo Explorer plugin
.idea/mongoSettings.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### AndroidStudio Patch ###

!app/gradle/wrapper/gradle-wrapper.jar

# End of https://www.gitignore.io/api/android,androidstudio

